#contact-second-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 8rem 0 0 0;
  padding: 1rem 0.5rem 1rem 0.5rem;
  border-top: 1px solid;
  border-color: rgba(0, 0, 0, 0.193);
  flex-wrap: wrap;
}
#contact-first-content {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.box-agent {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.pictureAgent {
  width: 380px;
}
.agent-name {
  width: fit-content;
}
.agent-disc-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.picture1 {
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.picture2 {
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.picture3 {
  overflow: hidden;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.picture3 img {
  width: 250px;
}

.social-media-icons {
  width: 30px;
  height: 30px;
  padding: 0.25rem;
}
#contact-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
#contact-section li {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
#contact-section span {
  color: var(--primary-color);
}
.contact-second-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 7rem;
}
.contact-second-part input {
  border-radius: 25px 0 0 25px;
  height: 2rem;
  width: 12rem;
  border: 1px solid;
  padding: 0.5rem auto 0.5rem 1rem;
}
.contact-second-part form {
  display: flex;
}
.contact-second-part button {
  border-radius: 0 25px 25px 0;
  height: 2rem;
  border: 1px solid;
  padding: 0.4rem;
}

.contact-second-part p {
  opacity: 0.6;
  font-size: 14px;
  color: var(--primary-color);
}

@media only screen and (max-width: 600px) {
  #contact-first-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: auto;
    flex-wrap: wrap;
  }
  .box-agent {
    display: flex;
    width: 100%;
  }
  .contact-second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 7rem;
  }
}
