header {
  display: flex;
  width: 100%;
  background-color: var(--primary-color);
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
#navbar {
  display: flex;

  align-items: center;
  padding: 1rem;
  width: 100%;
  justify-content: space-evenly;
}

#logo {
  width: 65px;
  height: 70px;
}

#list-Items {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 600px;
}
#list-Items a {
  text-decoration: none;
  color: var(--third-color);
  border-bottom: 1.5px solid;
  border-color: transparent;
  padding: 1rem;
}
#list-Items a:hover {
  transition: 700ms ease;
  border-color: rgb(12, 243, 235);
}

#profile-nav-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#profile-nav-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#profile-nav-box p {
  color: var(--second-color);
  cursor: pointer;
}
#btn-logout {
  cursor: pointer;
}

/*----------logout-----------*/
#window-box-logout {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--primary-color);
  top: 220%;
  border-radius: 10px;
  box-shadow: rgba(1, 1, 1, 0.762) 0px 3px 8px;
}
#window-box-logout p {
  color: var(--second-color);
}

#btn-exit {
  background-color: rgba(210, 134, 27, 0.486);
  padding: 0.4rem 0.8rem;
  border: 1px solid rgba(255, 0, 0, 0.39);
  border-radius: 10px;
  color: var(--second-color);
}
#btn-logout-win {
  background-color: rgba(221, 28, 28, 0.525);
  padding: 0.4rem 0.8rem;
  border: 1px solid rgba(255, 0, 0, 0.39);
  border-radius: 10px;
  color: var(--second-color);
}
#btn-logout-win:hover {
  transition: 450ms;
  background-color: rgba(226, 13, 13, 0.84);
}
#btn-exit:hover {
  transition: 450ms;
  background-color: rgba(232, 151, 20, 0.84);
}
#box-btn-window {
  display: flex;
  gap: 1rem;
}

#loginAndSignUpBox {
  display: flex;
  gap: 3rem;
}
#btn-signUp {
  color: var(--third-color);
  font-size: 16px;
  background-color: rgba(77, 255, 0, 0.371);
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.442);
  cursor: pointer;
}
#btn-login {
  color: var(--third-color);
  font-size: 16px;
  cursor: pointer;
  background-color: rgba(17, 221, 240, 0.325);
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.442);
}
#btn-login:hover {
  background-color: rgba(17, 221, 240, 0.804);
  transition: 500ms ease;
}
#btn-signUp:hover {
  background-color: rgba(77, 255, 0, 0.623);
  transition: 500ms ease;
}
#menuIcon {
  cursor: pointer;
  display: none;
}
#menuSideBar {
  display: none;
}

#menuSideBar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}
#menuSideBar a {
  text-decoration: none;
  font-size: 20px;
  width: 100%;
  color: var(--third-color);
  padding: 2.1rem 4rem;
  transition: 200ms ease-in-out;
}
#menuSideBar li {
  padding: 0;
}
#menuSideBar a:hover {
  background-color: var(--third-color);
  opacity: 0.6;
}
#menuSideBar a:hover li {
  color: var(--primary-color);
}

/*------------profile box-----------------*/

#profileBox {
  padding: 1rem;
  position: absolute;
  height: max-content;
  width: max-content;
  background-color: var(--primary-color);
  border-radius: 10px;
  top: 80%;
  box-shadow: rgba(1, 1, 1, 0.762) 0px 3px 8px;
}
#profileBox form {
  display: flex;
  justify-content: center;

  gap: 0.5rem;
  flex-direction: column;
}
#profileBox-imgBox {
  position: relative;
  justify-content: center;
}
#profileBox-imgBox img {
  width: 150px;
  height: 150px;
}
#profileBox form input {
  border-radius: 10px;
  border: 1px solid;
  padding: 0.4rem 0.8rem;
  background-color: transparent;
  color: var(--second-color);
}

#profileBox form button {
  background-color: rgba(255, 0, 0, 0.585);
  border: 1px solid;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  color: var(--second-color);
  cursor: pointer;
}
#profileBox form button:hover {
  transition: 350ms;
  background-color: red;
  border: 1px solid red;
}

@media only screen and (max-width: 600px) {
  #navbar {
    display: flex;
    position: relative;
    align-items: center;
    padding: 1rem 3rem;
    width: 100%;
    margin: 0 auto 0 auto;
    justify-content: space-between;
  }
  #menuSideBar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--primary-color);
    border-radius: 0;
    overflow: hidden;
  }
  #menuIcon {
    display: flex;
  }
  #navBarRow {
    display: none;
  }
  #loginAndSignUpBox {
    display: none;
  }
  #profile-nav-box {
    width: 60%;
    gap: 0.4rem;
  }
  #profile-nav-box p {
    font-size: 13.5px;
  }
  #window-box-logout {
    left: 20%;
    right: 20%;
  }
}
