#property-detaills-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--second-color);
  position: relative;
  width: 100%;
  height: 100% !important;
  color: var(--primary-color);
  padding-top: 1rem;
}

/*___________ first part of section _____________*/
#first-part-detaills {
  display: flex;
  gap: 3rem;
  margin: 6rem auto 0 3rem;
  height: 450px;
}

.detaills-img {
  height: 350px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.slick-list-detaills {
  margin: 0 !important;
  width: 1000px;
  height: 500px;
  display: flex;
  align-items: center;
}
.slick-list-detaills img {
  height: 500px;
}
#prevArrow-detaills {
  width: 200px !important;
  height: 40px;
  z-index: 1000;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
}

#nextArrow-detaills {
  width: 200px !important;
  height: 40px;
  z-index: 1000;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 50%;
}

#return-icon-detaills {
  position: absolute;
  top: 7%;
  left: 2%;
  border: 1px solid;
  border-radius: 50%;
  padding: 0.2rem;
  color: var(--primary-color);
  opacity: 0.7;
}
#return-icon-detaills:hover {
  color: var(--primary-color);
  opacity: 1;

  transition: 500ms;
}
/*__________ second part of section ___________*/

#second-part-detaills {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1rem 0 0 0;
  padding: 1rem 8rem;
  background-color: var(--fourth-color);
  color: var(--second-color);
}
#second-part-detaills hr {
  border-color: rgba(255, 255, 255, 0.521);
}
#box-detaills-first-part {
  display: flex;
  justify-content: space-between;
}
#box-detaills-first-part h1 {
  font-weight: 400;
}
#box-detaills-first-part span {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 24px;
}
#list-items-house {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0;
}
#list-items-house span {
  display: flex;
  gap: 2rem;
}
#list-items-house li {
  font-size: 22px;
}
.iconBoxDetaills {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
#discriptionBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  width: 80%;
}

#discription-title-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}
#discription-title-box hr {
  width: 100%;
  height: 1px;
}
#mapBox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2rem auto 3rem auto;
}
#mapDetaillsProperty {
  width: 80%;
  height: 600px;
}

/* __________________ Agent Card Style ____________________*/
#agent-card img {
  border: 1px solid;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

#agent-card {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  border-radius: 10px;
  color: var(--second-color);
  background-color: var(--fourth-color);
}
#agent-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.6rem;
}
#agent-card-content a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: green;
  border-radius: 20px;
  color: var(--second-color);
}
/*_________For mobile screen ___________*/
@media only screen and (max-width: 600px) {
  #property-detaills-section {
    gap: 1.5rem;
  }

  .detaills-img {
    height: 300px !important;
    width: 300px !important;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .slick-list-detaills {
    height: 350px;
    display: flex;
    justify-content: center;
  }

  #prevArrow-detaills {
    width: 30px !important;
    height: 40px;
    z-index: 1000;
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 50%;
  }

  #nextArrow-detaills {
    width: 30px !important;
    height: 40px;
    z-index: 1000;
    border: 1px solid;
    padding: 0.5rem;
    border-radius: 50%;
  }
  #first-part-detaills {
    display: flex;

    gap: 0rem;
    flex-wrap: wrap;
    margin: 5rem 0 0 0;
  }

  #agent-card {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0 0 0;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    color: var(--second-color);
    background-color: var(--fourth-color);
  }
  #agent-card img {
    width: 50%;
  }
  #agent-card-content h1 {
    font-size: 18px;
  }
  #box-detaills-first-part h2 {
    font-size: 24px;
  }
  #first-part-detaills {
    justify-content: center;
    height: fit-content;
  }
  #discription-title-box hr {
    width: 60%;
    height: 1px;
  }
  #second-part-detaills {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0 0 0;
    padding: 1rem 2rem;
    background-color: var(--fourth-color);
    color: var(--second-color);
  }

  #list-items-house {
    gap: 1rem;
  }
  #list-items-house span {
    gap: 1rem;
  }
  #return-icon-detaills {
    top: 6%;
    left: 1%;
  }
  .slick-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 0;
  }
  .slick-slider {
    width: 100%;
  }
  .slick-track {
    display: flex;
    gap: 0rem !important;
  }
  .slick-slider {
    display: flex;
    margin: 3rem auto 2rem auto;
  }
}
